<% if @donation.errors.any? %>
<h3><span style="color:red;"> Errors </span></h3>
    <ul>
        <% @donation.errors.full_messages.each do |mesg| %>
        <li><%= mesg %></li>
        <%end %>
    </ul>
<% end %>