<h2> <%= @donor.name %>'s Donation List </h2>
<% @donations.each do |d| %>

<li>  <%= d.charity.name %> : 
      <%= d.amount %> </li> 
<%end%><br>
 <% donor_total %>
 
 <%= link_to  "make a new donation", new_donor_donation_path %>