<h2>  Create Or Select a Charity </h2>
<p>Submit a new charity </p>
<%= form_for @charity do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    
    <%= f.submit "Add Charity"%>
<% end %>